* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}
.clearfix::after {
  clear: both;
  content: "";
  display: block;
}
.container {
  /* background-color: rebeccapurple; */
}
.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}
.sale {
  color: #fff;
  background-color: #ec2f2f;
  font-size: 12px;
  font-weight: bold;
  padding: 7px 15px;
  /* 这里可以用这种，或者不用这个，然后设置宽度和居中 */
  display: inline-block;

  position: absolute;
  left: -34px;
  top: -17px;
  letter-spacing: 2px;
}
.product-title {
  text-transform: uppercase;
  text-align: center;
  background-color: #f7f7f7;
  font-size: 22px;
  padding: 15px;
}
.product-img {
  float: left;
  margin-right: 40px;
}
.product-info {
  /* 825-8-250-80 */
  width: 243px;
  float: left;
  margin-right: 40px;
  margin-top: 20px;
}

.price {
  font-size: 24px;
  float: left;
}
.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
  float: right;
  margin-top: 8px;
}
.product-description {
  clear: both;
  margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.color {
  width: 22px;
  height: 22px;
  background-color: #000;
  display: inline-block;
  /* margin-right: 10px; */
}
.color-blue {
  background-color: #2f6ee2;
}
.color-red {
  background-color: #ec2f2f;
}
.color-yellow {
  background-color: #f0bf1e;
}
.color-green {
  background-color: #90cc20;
}
.color-brown {
  background-color: #885214;
}
.product-details {
  width: 243px;
  float: left;
  margin-top: 20px;
}
.details-title {
  text-transform: upperCase;
  font-size: 16px;
  margin-bottom: 15px;
}
.details-list {
  list-style: square;
  margin-left: 20px;
}
.details-list li {
  margin-bottom: 10px;
}
.add-cart {
  background-color: black;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: upperCase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
}
.add-cart:hover {
  color: #000;
  background-color: #fff;
}
