/* ****************************************** */
/* Header */
/* ***************************************** */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  /* 一般我们是不固定高度，靠内容和padding撑起盒子高度，
  这里固定高度是因为我们等下要做粘滞，高度固定时，它会比较方便
  */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

/* ****************************************** */
/* Navigation */
/* ***************************************** */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  /* 不懂这个为什么不生效！！所以设置了外边距 */
  grid-gap: 3.2rem;
  /* gap: 3.2rem; */
}

/* .main-nav-list li {
  margin-right: 3.2rem;
}
.main-nav-list li:last-child {
  margin-right: 0;
} */

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* ****************************************** */
/* Hero section */
/* ***************************************** */

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* 以上设置了之后，我们希望网格平分，
  但是由于图片太大，造成网格的两部分没有平均分配 
  所以必须设置图片宽度才可以
  */
  max-width: 130rem;
  /* background-color: royalblue; */
  margin: 0 auto;
  align-items: center;
  gap: 9.6rem;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  /* 这里是因为safiru浏览器有点问题，所以才把width也设置了 */
  width: 4.8rem;
  border-radius: 50%;
  /* 让图像重叠，本来以为父元素是弹性直接设置gap负数，但是不起作用，所以才这么设置 */
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/* ******************************************** */
/* Featured in section */
/* ******************************************* */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
  /* background-color: #bfa; */
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;

}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;

}

/* ******************************************** */
/* How it works section */
/* ******************************************* */
.section-how {
  padding: 9.6rem 0;
  /* background-color: orange; */
}

.step-number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #555;
  margin-bottom: 1.2rem;

}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

/* 图片不能有伪元素 */

.step-img-box::after,
.step-img-box::before {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.step-img-box::before {
  width: 60%;
  /* 这里高度写60%无用欸！！！改用定义padding的方法，这是有效的，因为paading是在width基础上定义的 */
  /* height: 60%; */

  /* 60% of parent's width */
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 35%;
}

/* ******************************************** */
/* Meals Section */
/* ******************************************* */
.section-meals {
  padding: 9.6rem 0;
  /* background-color: #bffa; */
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
}

.meal-img {
  width: 100%;
}