/* FLOATS
将这个文件单独列出来，因为现在要用flex布局了
*/
.author-img {
  float: left;
  margin-bottom: 20px;
}

.author {
  /* padding-left: 50px; */
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

h1 {
  float: left;
}
nav {
  float: right;
}
.main-header {
  /* background-color: rebeccapurple; */
}

.clear {
  clear: both;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

/* 在布局的时候先把背景颜色标出，这样能明显看到我们到底在干什么 */
article {
  /* background-color: green; */
  width: 900px;
  float: left;
  /* 因为要让与aside保持距离，而浮动的最好不用边框等，所以修改width */
  width: 825px;
}

aside {
  /* background-color: red; */
  width: 300px;
  float: right;
}

footer {
  /* background-color: yellow; */
  clear: both;
}
